{% load staticfiles sekizai_tags %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static theme %}">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static highlight %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>
{% endaddtoblock %}
<pre id="highlight-{{ instance.pk }}" class="highlight-js">
	{% if instance.filename %}<strong>{{ instance.filename }}</strong>{% endif %}
	<code{% if instance.code_language %} class="{{ instance.code_language }}" {% endif %}>{{ instance.body }}</code>
</pre>
